body {
    font-family: Verdana, sans-serif;
    background: url('../img/surabaya_wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link {
    color: #ffffff !important; 
}

.nav-link:hover {
    color: #ff5722 !important; 
}

.nav-link.active {
    font-weight: bold;
    color: #ff5722 !important; 
}

.container {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black; 
}

.btn {
    margin-top: 20px;
    background-color: #ff5722; 
    border-color: #ff5722; 
}

.btn:hover {
    background-color: #e64a19; 
    border-color: #e64a19; 
}

.blog-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-card {
    margin-bottom: 30px;
}

.profile-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card {
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    margin-top: 20px;
}

.additional-text {
    display: none;
}
